@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHvxg.eot)/*tpa=http://fonts.gstatic.com/s/lato/v22/S6uyw4BMUTPHvxg.eot*/;
}
